/* @import url(fonts.css); */

:root {
	--bg-color: #FFFBF7;
	--nav-color: #F7ECE4;
	--green: #83A466;
	--beige: #C4B093;
	--font-color: #333;
	--pink: #FAD7CE;
	--yellow: #FFF3D4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--bg-color);
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

section {
	padding: 2rem 9%;
}

footer {
	padding: 2rem 9%;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: var(--font-color);
	color: var(--bg-color);
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover {
	background: var(--beige);
}

header .logo {
	align-items: center;
	justify-content: center;
	width: 15%;
}

header .logo img{
	width: 50%;
}

header .navbar a {
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #666;
	font-family: Brandon Grotesque;
	font-weight: bolder;
}

header .navbar a:hover {
	color: var(--green);
}

header .icons a {
	font-size: 2.5rem;
	color: var(--font-color);
	margin-left: 1.5rem;
}

header .icons a:hover {
	color: var(--beige);
}

header #toggler {
	display: none;
}

header .fa-bars {
	font-size: 3rem;
	color: var(--font-color);
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: .1rem solid rgba(0, 0, 0, .3);
	display: none;
}

.banner-container {
	padding: 0;
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.banner-container .banner {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background: url(../img/decorations/grubi-1.webp) no-repeat;
	background-size: cover;
	background-position: center;
}

.line {
	padding:0 .5rem;
	background-color: rgba(131,164,102, .05);
	width: 100%;
}

.line h3 {
	font-size: 4.5rem;
	color: var(--font-color);
}

.line span {
	font-size: 2.5rem;
	color: var(--green);
	padding: 1rem 0;
	line-height: 1.5;
}

.heading {
	text-align: center;
	font-size: 4rem;
	color: var(--font-color);
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(131,164,102, .15);
}

.heading span {
	color: var(--green);
}

.about .row {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0 3rem;
}

.about .row .column-left {
	background-color: var(--yellow);
	padding: 2rem 4rem;
	flex: 1 1 40rem;
	width: 50%;
}

.about .row .column-left .info{
	margin: 1rem 0;
	background: var(--bg-color);
	flex: 1 1 30rem;
	padding: 2.5rem;
	box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
	border: .1rem solid rgba(0, 0, 0, .1);
	position: relative;
	align-items: center;
}

.about .row h3 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	font-size: 3rem;
	color: var(--font-color);
}

.about .row span {
	font-size: 3rem;
	color: var(--green);
}

.about .row .column-right {
	flex: 1 1 40rem;
}

.about .row p {
	text-transform: none;
	font-size: 1.5rem;
	color: var(--font-color);
	padding: 1rem 0 1.5rem;
	line-height: 1.5;
}

.about .row .image {
	position: relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden;
}

.about .row img {
	width: 25%;
}

.frame-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto 6rem;
}

.frame-slider {
	width: 50%;
	max-height: 50%;
	margin: 3em auto;
	overflow: hidden;
	border: 6px solid;
	border-color: var(--green);
	position: relative;
}

.frame-slider ul {
	display: flex;
	padding: 0;
	width: 500%;
	height: 100%;
	animation: slide 15s infinite alternate;
}

.frame-slider ul:hover {
	animation-play-state: paused;
}

.frame-slider li {
	list-style: none;
	width: 100%;
}

.frame-slider img {
	width: 100%;
	vertical-align: top;
}

.products p {
	text-transform: none;
	font-size: 1.5rem;
	color: #666;
	padding: 0 0 1.5rem;
	line-height: 1.5;
	text-align: center;
}

.products .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.products .box-container .box {
	flex: 1 1 30rem;
	box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
	border: .1rem solid rgba(0, 0, 0, .1);
	position: relative;
}

.products .box-container .box .discount {
	position: absolute;
	border-radius: .5rem;
	top: 1rem;
	left: 1rem;
	padding: .7rem 1rem;
	color: var(--green);
	background: rgba(131,164,102, .15);
	z-index: 1;
}

.products .box-container .box .image {
	position: relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden;
}

.products .box-container .box .image img {
	height: 25rem;
}

.products .box-container .box:hover .image img {
	transform: scale(1.1);
}

.products .box-container .box .image .icons {
	position: absolute;
	bottom: -7rem;
	left: 0;
	right: 0;
	display: flex;
}

.products .box-container .box:hover .image .icons {
	bottom: 0;
}

.products .box-container .box .image .icons a {
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	width: 50%;
	background: var(--pink);
	color: var(--bg-color);
}

.products .box-container .box .image .icons a:hover {
	background: #333;
}

.products .box-container .box .image .icons .cart-btn {
	border-left: .1rem solid var(--nav-color);
	border-right: .1rem solid var(--nav-color);
	width: 100%;
}

.products .box-container .box .image .icons input {
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	width: 50%;
	background: var(--pink);
	color: var(--bg-color);
}

.products .box-container .box .image .icons input:hover {
	background: #333;
}

.products .box-container .box .content {
	padding: 2rem;
	text-align: center;
}

.products .box-container .box .content h3 {
	font-size: 2.5rem;
	color: var(--font-color);
}

.products .box-container .box .content .price {
	font-size: 2.5rem;
	color: var(--green);
	font-weight: bolder;
	padding-top: 1rem;
}

.products .box-container .box .content .price span {
	font-size: 1.5rem;
	color: #999;
	font-weight: lighter;
	text-decoration: line-through;
}

.products .box-container .btn {
	display: flex;
	width: 45%;
	padding: 1em;
	margin: 1.5em auto;
	justify-content: center;
}

.footer .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.footer .box-container .box {
	flex: 1 1 25rem;
}

.footer .box-container .box h3 {
	font-family: Brandon Grotesque;
	color: var(--font-color);
	font-size: 2.5rem;
	padding: 1rem 0;
}

.footer .box-container .box a, p {
	font-family: Brandon Grotesque;
	display: block;
	color: #666;
	font-size: 1.5rem;
	padding: 1rem 0;
}

.footer .box-container .box .email {
	text-transform: none;
}

.footer .box-container .box a:hover {
	color: var(--green);
	text-decoration: underline;
}

.footer .box-container .box img {
	margin-top: 1rem;
	width: 100%;
}

.footer .credit {
	text-align: center;
	padding: 1.5rem;
	padding-top: 2rem;
	margin-top: 1.5rem;
	font-size: 2rem;
	color: var(--font-color);
	border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
	color: var(--green);
}

.signup-login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 110vh;
	background: url("../img/decorations/bg-signup.gif") no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	width: 30rem;
	color: var(--bg-color);
	background: rgba(131, 164, 102, .75);
	/* background: transparent;
	border: .2rem solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(15px); */
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	border-radius: 1rem;
	padding: 2rem 1.5rem;
}

.container h1 {
	font-family: Brandon Grotesque;
	font-size: 4rem;
	text-align: center;
}

.container .input-box {
	text-transform: none;
	position: relative;
	width: 100%;
	height: 5rem;
	margin: 1.5rem 0;
}

.container .input-box input {
	text-transform: none;
	width: 100%;
	height: 100%;
	background: transparent;
	border: .2rem solid rgba(255, 255, 255, .2);
	border-radius: 1rem;
	color: var(--bg-color);
	font-size: 1.5rem;
	padding: 2rem;
	padding-right: 3rem;
}

.container .input-box input::placeholder {
	color: var(--bg-color);
}

.container .input-box i {
	position: absolute;
	right: 3rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
}

.signup-login .btn {
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: var(--green);
	color: var(--bg-color);
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.signup-login .btn:hover {
	background: var(--bg-color);
	color: var(--green);
}

.container .btn {
	display: flex;
	margin: 1.5em auto;
	justify-content: center;
}

.container .login-link {
	font-size: 1.25rem;
	text-align: center;
	margin: 1.5rem 0 1rem;
}

.login-link p {
	text-transform: none;
	font-size: 1.5rem;
	color: var(--bg-color);
}

.login-link p a {
	font-family: Brandon Grotesque;
	color: var(--nav-color);
	text-decoration: none;
	font-weight: 700;
}

.login-link p a:hover {
	text-decoration: underline;
}

section .spacing {
	padding: 5rem;
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.admin .products{
	width: 100%;
	max-width: 100vw;
	margin: auto;
}

.cart .products{
	width: 100%;
	max-width: 100vw;
	margin: auto;
}

.table {
	width: 100%;
	border: 0.2rem solid var(--font-color);
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	table-layout: fixed;
}

.table tr {
	background-color: var(--bg-color);
	color: var(--font-color);
	border: 0.2rem solid rgba(255, 255, 255, .2);
}

.table th, .table td {
	font-size: 1.5rem;
	padding: 0.2rem;
	text-align: center;
}

.table thead th {
	text-transform: uppercase;
	background-color: var(--font-color);
	color: var(--bg-color);
}

.table img {
	width: 70%;
}

.table tbody tr:hover {
	background-color: rgba(131, 164, 102, .50);
	color: var(--bg-color);
}

.table tbody td:hover {
	background-color: rgba(131, 164, 102, .75);
	color: var(--bg-color);
}

.cart table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0.5rem;
	border-radius: 0.2rem;
	overflow: hidden;
	box-shadow: 0 0 0.4rem rgba(131,164,102, .05);
}

.cart th, td{
	padding: 0.4rem;
	text-align: left;
	border-bottom: 0.2rem solid var(--font-color);
}

.pdf a {
	color: var(--bg-color);
}

.pdf a:hover{
	color: var(--font-color);
}















@keyframes slide {
	0% {margin-left: 0%;}
	15% {margin-left: 0%;}

	20% {margin-left:-100%;}
	35% {margin-left:-100%;}

	40% {margin-left:-200%;}
	60% {margin-left:-200%;}

	65% {margin-left:-300%;}
	80% {margin-left:-300%;}

	85% {margin-left:-400%;}
	100% {margin-left:-400%;}
}

@font-face {
	font-family: Brandon Grotesque;
	src: url(https://static1.squarespace.com/static/64c3bb611eee5633855bcae7/t/64df2b36d5cb3d7012ed4596/1692347190859/Brandon+Grotesque.otf);
}

/* media queries */
@media (max-width:991px) {
	html {
		font-size: 55%;
	}

	header {
		padding: 2rem;
	}

	section {
		padding: 2rem;
	}

	.home {
		background-position: left;
	}
}

@media (max-width:768px) {
	header .fa-bars {
		display: block;
	}

	header .logo img {
		width: 80%;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: var(--nav-color);
		border-top: .1rem solid rgba(0, 0, 0, .1);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	header #toggler:checked ~ .navbar {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	header .navbar a {
		margin: 1.5rem;
		padding: 1.5rem;
		background: var(--bg-color);
		border: .1rem solid rgba(0, 0, 0, .1);
		display: block;
	}

	.home .content h3 {
		font-size: 5rem;
	}

	.home .content span {
		font-size: 2.5rem;
	}

	.icons-container .icons h3 {
		font-size: 2rem;
	}

	.icons-container .icons span {
		font-size: 1.7rem;
	}

	.signup-login {
		min-height: 100vh;
	}

	.table {
		border: 0;
	}

	.table thead {
		display: none;
	}

	.table tr {
		margin-bottom: 1rem;
		border-bottom: 0.4rem solid rgba(0, 0, 0, .3);
		display: block;
	}

	.table th, .table td {
		padding-right: 1rem;
		font-size: 1.7rem;
	}

	.table td {
		display: block;
		border-bottom: 0.2rem solid rgba(0, 0, 0, .1);
		text-align: right;
	}

	.table img {
		width: 30%;
	}

	.table td:last-child {
		border-bottom: 0;
	}

	.table td::before {
		content: attr(data-label);
		font-weight: bold;
		/* text-transform: uppercase; */
		float: left;
	}
}

@media (max-width:450px) {
	html {
		font-size: 50%;
	}

	.heading {
		font-size: 3rem;
	}
}